/* these are comments at the top of my css file */

/* background colour gradient */
body {
    background: linear-gradient(to left top, rgb(5, 41, 241), rgb(238, 8, 46)) fixed;
}

header {
    padding: 20px;
    border-radius: 10px;
    /* add this with javascript since anchors don't work with offsets
    position: fixed;
    top: 0;
    width: 100%;*/
}

#header-info {
    font-size: x-large;
}

/* applied across the entire file */
* {
    font-family:'Righteous', sans-serif;
    font-weight: 600;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-around;
}

/* anchor tags in navigation bar */
a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    color: black;
    text-decoration: none;
}

/* change appearance when we're hovering over */
a:hover{
    transform: scale(1.5);
    font-weight: bold;
    transition: all 0.5s linear;
}

/* add this with javascript in order to offset the anchors 
main {
    margin-top: 300px;

} */

/* section class */
.section {
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 15px 6px #ccc;
    border-radius: 10px;
}

.section div {
    display: flex;
    flex-direction: column;
}

/* change appearance when selecing */
p::selection {
    background-color: yellow;
}

p::first-letter {
    font-size: x-large;
    font-weight: bold;
}


/* apply to specific articles */
#about-me {
    color: orchid;
    transition-property: color;
    transition-delay: 1.5s;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

#games-i-play {
    color: orange;
    transition-property: color;
    transition-delay: 1.5s;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

#strategies-and-cheats {
    color: green;
    transition-property: color;
    transition-delay: 1.5s;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

/* box model applied to all images */
img {        
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
}

/* setting background for footer */
footer {
    padding: 20px;
    border-radius: 10px;
}

/* class for footer images - make sure we overwrite what we don't want from the standard images */
.footerimg {
    width: 25px;
    height: 25px;
    border: none;
    margin: none;
}

.footerimg:hover{
    width: 50px;
    height: 50px;
}

/* Use flex to lay things out horizontally 
   align-items is center as origin */
#header-info, #about-me, #games-i-play, #strategies-and-cheats {
    display: flex;
    align-items: center;
}

#footer-text {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin: 25px;
} 

#footer-images {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#footer-images p {
    display: none;
}

#footer-images a:hover + p {
    display: block;
}

